body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #f7b854;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

.linkstext{
    margin-right: 15px;
}

.request__radio{
    list-style-type: none;
}

.request__text {
    resize:none ;
    height: 200px;
}

/* My styles */
/* layout */
/* Footer */
.footer {
    display: flex;
    justify-content: space-between;
}


.footer__copyright {
}

.footer__nav {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.footer__nav-link {
    margin-left: 1em;
    color: #333;
    padding: .5em 1em;
    border: 2px #000000 solid;
    border-radius: 2em;
    transition: border-color .2s linear, background-color .2s linear, color .2s linear;
}



    .footer__nav-link:focus {
        text-decoration: none;
        color: #333;
    }

    .footer__nav-link:hover {
        text-decoration: none;
        color: #EFEFEF;
        background-color: #000;
        border-color: #000;
    }

    .footer__nav-link:first-child {
        margin-left: 0;
    }


/* /layout */




/*about*/

.about__text {
    font-weight: 600;
}

.category {
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #000;
    padding-top: -20px;
}

.category__title {
    margin-top: 5px;
    text-align: center;
}

/*/about*/

/*post*/
.post__text {
    font-size: 20px;
    margin-top: 230px;
}

.post__img {
    position: absolute;
    left: 50%;
    width: auto;
    height: 200px;
    margin: 0 auto;
    transform: translate(-50%,0);
}
/*/post*/

/*helpers*/
.text-center {
    text-align: center;
}

.pointer {
    cursor: pointer;
}

.mt-5 {
    margin-top: 5px;
}

.d-block {
    display: block;
    margin: 5px 0;
    width: 100%;
}

.img {
    width: 100%;
    height: auto;
}


.comment 
{
 
    resize : none; 
}

.v1
{


}

.v2
{

    color : #8e00d0 ;
}

.t1 {
   
    border-top: 2px solid #763e01;
    border-bottom: 2px solid #763e01;
    border-radius: 15px;
    padding: 20px; 
    word-wrap: break-word;

}