{% extends "app/layout.html" %}

{% block content %}

<h2>О нас</h2>
<h3>Наш клуб</h3>
<hr/>

<p>Мы клуб Настольных игр "ПИКНИК"!!!<br/>
   <br/>
😅Мы НЕ несём ответственность за:<br/>
ожоги от пламени драконов, укусы<br/>
оборотней (мы их часто кормим), гипноз<br/>
вампиров-роботов (да и такие есть),<br/>
уничтожение мира<br/>
сверхдревним злом и огромные цены<br/>
на эль в тавернах!<br/>
       <br/>
🖖Мы клуб людей, которые любят настольные игры и хорошо проводить время в компании единомышленников!<br/>
           <br/>
Наш клуб основан студентами ИИН🎓<br/>
Псковского Государственного Университета.<br/>
Мы всегда рады видеть у нас студентов, учащихся колледжей и просто любителей настолок🎲<br/>
              <br/>
⭐Если ты хочешь присоединиться к нам, то подписывайся на нас и пиши в сообщения группы!<br/>
                   <br/>
👣Чаще всего мы собираемся в учебном корпусе ПсковГУ на ул. Льва Толстого 4.<br/>
                        <br/>
📆Наше расписание:<br/>
Среда и Пятница с 18:00 до 21:00.<br/>
                          <br/>
📚Список игр в которые мы играем<br/>
   <a href="https://vk.com/topic-130451474_39282220">Список наших игр игр</a>    <br/>
                             <br/>
И если у вас есть игра, но не с кем поиграть, то мы с удовольствием составим вам компанию, приносите, поиграем!<br/></p><br/>

{% endblock %}
